@{
    ViewData["Title"] = "Meu Carros";
}

<div class="text-center">
    <h1 class="home-header">Meus carros</h1>
</div>

<div class="home-container">
    <ul class="home-list">
        <li>
            <a asp-controller="Veichles">Listar Veículos</a>
        </li>
        <li>
            <a asp-controller="Veichles" asp-action="Create">Cadastrar Veículo</a>
        </li>
    </ul>
</div>