@{
    ViewData["Title"] = "Meu Carros";
}

<div class="text-center">
    <h1 class="home-header">O que deseja ver?</h1>
</div>

<div class="home-container">
    <div class="card">
        <div class="card-body">
            <h3>Veículos</h3>
        </div>
        <div class="card-footer">
            <a asp-controller="Veichles" asp-action="Index">Ver mais</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h3>Consumos</h3>
        </div>
        <div class="card-footer">
            <a asp-controller="Consumptions" asp-action="Index">Ver mais</a>
        </div>
    </div>

</div>