.home-header {
    font-size: 5rem;
    color: #363636;
}

.home-container { 
    width: 100%;
    height: calc(100Vh - 150px);
    padding: 5rem 0rem;
}

.home-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 0 1rem;
}

ul > li {
    list-style: none;
    font-size: 1.5rem;
}

ul > li:hover {
    color: darkgreen;
    font-weight: bold
}

ul > li > a {
    text-decoration: none;
    color: inherit;
}