.home-header {
    font-size: 5rem;
    color: #363636;
}

.home-container { 
    width: 100%;
    height: calc(100Vh - 150px);
    padding: 5rem 0rem;
}

.home-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 0 1rem;
}

ul > li {
    list-style: none;
    font-size: 1.5rem;
}

ul > li:hover {
    color: darkgreen;
    font-weight: bold
}

ul > li > a {
    text-decoration: none;
    color: inherit;
}

.divisor {
    height: 1.5rem;
    width: 1px;
    background-color: lightgray;
}

.navbar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    margin-bottom: 1.4rem;
}

.nav_user_greetings {
    margin: auto 0;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_user_greetings_text {
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 0;
}
.nav_user_name {
    font-weight: bolder;
}