@import "./toast.css";
@import "./login.css";
@import "./navigation.css";
@import "./cards.css";
@import "./access_denied.css";

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

main {
    position: relative;
    overflow: hidden;
    padding: 0 1rem;
    height: calc(100vh - 190px)
}

.home-header {
    font-size: 3rem;
    color: #363636;
}

.home-container {
    width: 100%;
    height: calc(100Vh - 230px);
    padding: 5rem 0rem;
    display: flex;
    justify-content: space-evenly;
}

.home-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 0 1rem;
}
