
@{
	ViewData["Title"] = "AccessDenied";
}
<div class="access-denied-container">
    <h1>Acesso Negado</h1>
    <p>Você não tem permissão para acessar esta página.</p>
    <a asp-action="Login" asp-controller="Users" href="/">Voltar ao Login</a>
</div>

